.app__aboutus {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  
  .app__aboutus-overlay {
    position: relative;
    inset: 0;
  }
  
  .app__aboutus-content {
    width: 100%;
    z-index: 2;
    display: flex;
  }
  
  .app__aboutus-content_about {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    text-align: right;
  }

  /* Controls the animation of the main logo. 0-100% represents the total time of the animation and what happens each step */
  @keyframes pulse {
    0% {
      filter: opacity(80%);
    }
    25% {
      filter: opacity(75%);
    }
    50% {
      filter: opacity(60%);
    }
    75% {
      filter: opacity(75%);
    }
    100% {
      filter: opacity(80%);
    }
  }
  
  /* Controls the usage of the above keyframe. Currently set to take the above keyframes and spread them out over 4s */
  .app__aboutus-overlay img {
    height: 910px;
    z-index: 0;
    animation: pulse 4s infinite ease-in-out;
  }

  
  @media screen and (min-width: 2000px) {
    .app__aboutus-overlay img {
        height: 1110px;
    }
  }
  
  @media screen and (max-width: 900px) {
    .app__aboutus-content {
        flex-direction: column;
    }
  
    .app__aboutus-content_knife {
        margin: 4rem 0;
    }
  }
  
  @media screen and (max-width: 650px) {
    .app__aboutus-overlay img {
        width: 80%;
        height: 80%;
    }
  }